In [5]:
import pandas as pd
import numpy as np

concentrations = pd.read_csv( 'D:\\КУРСЫ DATA SCIENCE\\МОИ ЗАДАЧКИ\\algae.csv')

In [6]:
concentrations.head ( )

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886

In [7]:
mean_concentrations = concentrations.groupby('genus').aggregate(
    mean_suc = ('sucrose', 'mean'),
    mean_alanin = ('alanin', 'mean'),
    mean_citrate = ('citrate', 'mean'),
    mean_glucose = ('glucose', 'mean'),
    mean_oleic_acid = ('oleic_acid', 'mean')
)

In [8]:
mean_concentrations # вывел таблицу со средними значениями концентраций элементов

,mean_suc,mean_alanin,mean_citrate,mean_glucose,mean_oleic_acid
genus,,,,,
Ascophyllum,6.825467,0.875429,5.253527,3.414961,2.432526
Cladophora,4.008792,3.997055,5.288311,2.800276,2.263472
Fucus,4.355112,3.566411,4.214878,2.814803,3.367647
Palmaria,0.704580,3.176440,5.573905,3.242090,2.245538
Saccharina,4.183596,3.524207,3.346710,4.980594,4.487252

Через query произвели выборку по Фикусу, и применили функцию describe ( ).loc для выявления из него минимального, среднего и максимального значения.

In [10]:
np.around(concentrations.query("genus == 'Fucus'").alanin.describe().loc[['min', 'mean', 'max']].values, decimals=2) # Округлили значения, до второго знака после запятой

array([0.35, 3.57, 6.64])

In [38]:
concentrations.groupby ('group'). describe ( ) ['sucrose'] # группировка по группам ( красные, зеленые, коричневые) и тут же
# средневадратичное отклонение и разница между мин и макс

,count,mean,std,min,25%,50%,75%,max
group,,,,,,,,
brown,6.0,4.709666,2.336471,1.636122,3.070321,5.00397,6.773014,6.825467
green,3.0,4.008792,1.634817,2.452623,3.157047,3.86147,4.786877,5.712284
red,1.0,0.704580,NaN,0.704580,0.704580,0.70458,0.704580,0.704580

In [40]:
concentrations.groupby('group').aggregate({'citrate':'var'}) # Дисперсия концентрации цитрата в бурых, зелёных и красных водорослях

group
brown    5.189345
green    3.259662
red      0.000000
Name: sucrose, dtype: float64

In [43]:
concentrations.groupby('group').count() # Число видов бурых, зелёных и красных водорослей

       species  genus  sucrose  alanin  citrate  glucose  oleic_acid
group
brown        6      6        6       6        6        6           6
green        3      3        3       3        3        3           3
red          1      1        1       1        1        1           1

In [45]:
concentrations.groupby('group').aggregate({'sucrose':'max'})['sucrose'] - concentrations.groupby('group').aggregate({'sucrose':'min'})['sucrose'] # Размах (максимум - минимум)
#сахарозы в бурых, зелёных и красных водорослях

group
brown    5.189345
green    3.259662
red      0.000000
Name: sucrose, dtype: float64

In [42]:
group_concentrations = concentrations.groupby (['group', 'genus'], as_index = False)\
    .aggregate ({'citrate' : 'var' })

In [27]:
group_concentrations

   group        genus    citrate
0  brown  Ascophyllum        NaN
1  brown        Fucus   7.245138
2  brown   Saccharina  10.349338
3  green   Cladophora   3.950113
4    red     Palmaria        NaN