In [1]:
# Импортируем модули


import pandas as pd
import numpy as np

In [2]:
# загружаем данные
data = pd.read_csv('titanic.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
# Предварительная работа с данными 

columns_target = ['Survived'] # наша целевая колонка

columns_train = ['Pclass', 'Sex', 'Age', 'Fare']

In [4]:
X = data[columns_train]
Y = data[columns_target]

In [5]:
# Проверяем есть ли пустые ячейки в колонках
X['Sex'].isnull().sum()

0

In [6]:
X['Pclass'].isnull().sum()

0

In [7]:
X['Fare'].isnull().sum()

0

In [8]:
X['Age'].isnull().sum()

177

In [23]:
# Заполняем пустые ячейки медианным значением по возрасту
X['Age'] = X['Age'].fillna(X['Age'].median())

<ipython-input-23-167d9c5d4e7f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'] = X['Age'].fillna(X['Age'].median())

In [24]:
X['Age'].isnull().sum()

0

In [25]:
# Заменяем male и female на 0 и 1 с помощью словаря

d={'male':0, 'female':1} # создаем словарь

In [26]:
X['Sex'] = X['Sex'].apply(lambda x:d[x])
X['Sex'].head()

<ipython-input-26-d2a793562793>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = X['Sex'].apply(lambda x:d[x])

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [27]:
# Разделяем нашу выборку на обучающую и тестовую
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [28]:
# Загружаем модель Support VEctor Machine для обучения
from sklearn import svm

In [29]:
predmodel = svm.LinearSVC()

In [30]:
# Обучаем модель с помощью нашей обучающей выборки
predmodel.fit(X_train, Y_train)

C:\Program Files (x86)\Anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Program Files (x86)\Anaconda\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC()

In [31]:
# Предсказываем на тестовой выборке
predmodel.predict(X_test[0:10])

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [32]:
# Проверяем точность предсказаний
predmodel.score(X_test,Y_test)

0.7186440677966102

In [33]:
# Попробуем заменить медианный возраст, на средний и посмотрим, как изменится результат
data = pd.read_csv('titanic.csv')

In [34]:
columns_target = ['Survived'] # наша целевая колонка (относительно которой, мы будем предсказывать)

In [35]:
columns_train = ['Pclass', 'Sex', 'Age', 'Fare']

In [36]:
X = data[columns_train]
Y = data[columns_target]

In [37]:
X['Age'] = X['Age'].fillna(X['Age'].mean( ))

<ipython-input-37-cdfce2e402d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'] = X['Age'].fillna(X['Age'].mean( ))

In [38]:
X['Age'].isnull().sum()

0

In [39]:
d = {'male':0, 'female':1}

In [40]:
 X['Sex'] = X['Sex'].apply(lambda x:d[x])

<ipython-input-40-1a012b51ec3c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = X['Sex'].apply(lambda x:d[x])

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

In [52]:
from sklearn import svm

In [53]:
predmodel = svm.LinearSVC( )

In [54]:
predmodel.fit(X_train, Y_train)

C:\Program Files (x86)\Anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Program Files (x86)\Anaconda\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC()

In [55]:
# Проверяем точность предсказаний
predmodel.score(X_test, Y_test)

0.8888888888888888